:root{
 --background: rgba(255, 255, 255, 0.43);
 --background-dark: rgba(206, 206, 206, 0.13);
 --light-bg: linear-gradient(140deg, rgba(255, 197, 167, 1) 0%, rgb(255 193 192) 50%, rgb(255 248 184) 100%);
 --dark-bg: linear-gradient(180deg, #0e0252 0%, #852b5e 50%, #6a1e0d 100%);
}

body{
  margin: 0 auto;
  display: grid; 
  place-content: center;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6em;
  padding: 0.5em;
}

#root > * {
  z-index: 1;
}

.hero, .widgetBar {
  grid-row: 2;
}

.app{
  height: 100%;
}

li{
  list-style: none;
}

.hero {
  background: var(--background);
  border-radius: 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  display: grid;
  gap: 10px;  
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.widgetBar{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: space-between;
}

.notificationBadge{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: absolute;
  right: -6%;
  top: -6%;
}

.clock{
  z-index: 200;
  font-weight: 500;
}

/* surface is 960x540 in full screen, 960x4?0 otherwise */
@media screen and (min-width: 960px) {

  .hero{
    height: 90vh;
  }
}

@media screen and (max-width: 600px) {
  #root{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding-top: 5px;
    overflow: scroll;
    padding: 0;
  }

  body{
    place-content: unset; 
  }

  .hero {
    grid-row: 1;
  }

  .widgetBar{
    padding: 0;
  }

  .eye{
    display: none;
  }

}